& when (@media-common = true) {
    .campaign-label {
        margin-top:8px;

        span {
            background-color: #f0ad4e;
            color: white;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 5px;
            margin-top:5px;
        }
    }
}
