<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Impact\Campaign\Api\Data\CampaignInterface" type="Impact\Campaign\Model\Data\CampaignData"/>
    <preference for="Impact\Campaign\Api\Data\CampaignProductInterface" type="Impact\Campaign\Model\Data\CampaignProductData"/>
    <preference for="Impact\Campaign\Api\Service\ProcessCampaignProductsInterface" type="Impact\Campaign\Service\ProcessCampaignProducts"/>
    <preference for="Impact\Campaign\Api\Service\GetSerializedCampaignDataInterface" type="Impact\Campaign\Service\GetSerializedCampaignData"/>

    <virtualType name="Impact\Campaign\Logger\Handler\DebugHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/impact/debug.log</argument>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </virtualType>

    <virtualType name="Impact\Campaign\Logger\DebugLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Impact Debug Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Impact\Campaign\Logger\Handler\DebugHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Impact\Campaign\Service\ProcessCampaignProducts">
        <arguments>
            <argument name="logger" xsi:type="object">Impact\Campaign\Logger\DebugLogger</argument>
        </arguments>
    </type>
    <preference for="Impact\Campaign\Api\Data\CampaignProductInterface"
                type="Impact\Campaign\Model\Data\CampaignProductData"/>
</config>
